<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_post_comment_path(@post, @comment) %> |
  <%= link_to "Back to Posts", posts_path %>

  <%= button_to "Destroy this comment", post_comment_path(@comment), data:{'turbo-method': :delete} %>
</div>
