<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_post_comment_path(@post, @comment), class:"btn btn-primary m-2" %> |
  <%= link_to "Back to Posts", posts_path, class:"btn btn-secondary m-2" %>
  </br>
  <%= button_to "Destroy this comment", post_comment_path(@post, @comment), method: :delete, class:"btn btn-danger m-2" %>
</div>
