<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_post_comment_path(@post, @comment), class:"btn btn-primary" %> |
  <%= link_to "Back to Posts", posts_path, class:"btn btn-secondary" %>

  <%= button_to "Destroy this comment", post_comment_path(@post, @comment), method: :delete, class:"btn btn-danger" %>
</div>
