<%= form_with(model: post, :html => {:class => 'form-signin'}) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field my-2 text-start">
    <%= form.label :header, style: "display: block", class:"form-label" %>
    <%= form.text_field :header, class:"form-control" %>
  </div>

  <div class="field my-2 text-start">
    <%= form.label :content, style: "display: block", class:"form-label" %>
    <%= form.textarea :content, cols: 40, rows: 10, class:"form-control"%>
  </div>
  <br />
  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
