<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post_path(post) %>
    </p>
  <% @comments.each do |comment| %>
    <% if post == comment.post %>
      <%= render comment %>
    <% if current_user.nil? == false %>
     <% if current_user.id == comment.post.user.id%>
        <p>
          <%= link_to "Show this comment", post_comment_path(post, comment) %>
        </p>
      <% end %>
    <% end %>
    <% end %>
  <% end %>
    <%= link_to "New comment", new_post_comment_path(post) %>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
